@import '../variables.scss';

.hero {
  background-color: $grey-color;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 50px 100px;
    border: 5px solid $black-color;
    border-radius: 8px;
    padding: 0 100px;
  }
}